<form action = "/payment/results"> <!--"action" is set to the url to route to after taking an action on the form -->

<div><label for="apr">APR</label>
<input id="apr" type="text" placeholder="e.g. 4.5" name="apr"></div>

<div><label for="years">Number of years</label>
<input id="years" type="text" placeholder="how many years to repay?" name="years"></div>

<div><label for="principal">Principal</label>
<input id="principal" type="text" placeholder="how much principal?" name="principal"></div>

<button>Calculate monthly payment</button>
</form>
