<form action = "/random/results"> <!--"action" is set to the url to route to after taking an action on the form -->

<div><label for="user_min">Minimum</label>
<input id="user_min" type="text" placeholder="e.g. 1.5" name="user_min"></div>

<div><label for="user_max">Maximum</label>
<input id="user_max" type="text" placeholder="e.g. 4.5" name="user_max"></div>

<button>Pick random number</button>
</form>
