<form action = "/square/results"> <!--"action" is set to the url to route to after taking an action on the form -->
<div><label for="giraffe">Enter a number</label>
<input id="giraffe" type="text" placeholder="the number you want to square" name="elephant"> </div>

<button>Calculate square</button>
</form>
