<form action = "/square_root/results"> <!--"action" is set to the url to route to after taking an action on the form -->
<p><label for="num">Enter a number</label>
<input id="num" type="text" placeholder="the number you want to take square root of" name="number"></p>

<button>Calculate square root</button>
</form>
